
    <form id="create_update_project" method="post" action="/projects{{#if project}}/{{project.project_id}}{{/if}}">
      <!-- action and method depend on C vs U-->
      <input type="hidden" name="project_id" id="project_id" value="{{#if project}}{{project.project_id}}{{/if}}">
      <!-- server sets project_id value-->

      <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">

            <span class="card-title">
              <h1>{{ title }}</h1>
            </span>


            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="project_name" id="project_name" class="validate" data-length="32" required>
                <label for="project_name">Project Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="project_name" class="validate" data-length="32" required>
                <label for="project_owner">Owner Name</label>
              </div>
            </div>

            <!-- https://materializecss.com/select.html -->
            <div class="row">
              <div class="input-field col s6">
                <select id="project_type" name="project_type_id" required>
                  <option value="" disabled selected>Select a type</option>
                  {{#each project_types}}
                      <option value="{{project_type_id}}">{{project_type}}</option>
                  {{/each}}
                </select>
                <label for="project_type">Project Type</label>
              </div>

              <div class="input-field col s6">
                <input type="text" id="project_date" name="project_date" class="datepicker no-autoinit" required>
                <label for="project_date">Date</label>
              </div>


            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="project_description" name="project_description" class="materialize-textarea" data-length="500"></textarea>
                <label for="project_description">Description</label>
              </div>
            </div>

            <div class="button_wrapper">
              <button class="submit waves-effect waves-light btn" type="submit">{{#if project}}Update{{else}}Create{{/if}}</button>
            </div>
          </div>
        </div>

      </div>
    </form>

  <!-- Special initialization script for initializing .datepicker and.timepicker with options -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
        format: 'mm-dd-yyyy',
        autoClose: true
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.timepicker');
      var instances = M.Timepicker.init(elems, {
        defaultTime: 'now', // Set default time: 'now', '1:30AM', '16:30'
        twelveHour: true, // Use AM/PM or 24-hour format
        autoClose: false, // automatic close timepicker
      });
    });

    //TODO Form Validation

    //Set fields to curent values, if existing project data provided (modify)
    {{#with project}} 
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("project_name").value = "{{project_name}}";
        document.getElementById("project_type").value = "{{project_type_id}}";
        document.getElementById("project_date").value = "{{project_date_mdy}}";
        {{!-- Use triple mustaches to NOT escape characters --}}
        document.getElementById("project_description").value = "{{{project_description}}}";

        
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
    {{/with}}
  </script>
